body{
    margin:0;
    padding:0;
}

.cuadro{
    visibility: visible;
    width: 15.3cm;
    /*height: 3.5cm;*/
    margin:0;
    padding:0;
    /*border: solid 1px black;*/
}

.text{
    letter-spacing:-1px;
    font-size:11px;
}

.card-header, .fa-barcode{
    display: none;
}

.card{

}

.tbl-principal{
    width: 100%;
}

.tbl-etiqueta{
    margin: auto;
}

.nom-producto{

}

p{
    width: 90%;
    margin: auto;
    text-align: center;
    line-height: initial;
}

img{
    margin-left: 10px;
}


.orden{
    
}
/*----*/
