

@media print and (orientation: portrait) {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }

    main {
        float:none;
    } 
    @page {
        size: auto;/* auto is the initial value */
        margin: 10%;
        }
}